[submodule "external/CommonLibAE"]
	path = external/CommonLibAE
	url = https://github.com/powerof3/CommonLibSSE
	branch = dev-ae
[submodule "external/CommonLibSSE"]
	path = external/CommonLibSSE
	url = https://github.com/powerof3/CommonLibSSE
	branch = dev
